body {
  margin: 0;
  display: grid;
  height: 100dvh;
  place-content: center;
  background-color: rgb(10, 9, 37);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:fullscreen {
    background-color: rgb(50, 97, 50);
  }

  input,
  label {
    color: aliceblue;
  }

  label {
    font-size: "1rem";
    font-weight: 700;
  }

  .input {
    padding: 0.5rem;
    border-radius: 1rem;
    outline-style: none;
    border: 2px solid red;
    color: black;
  }

  .input:focus {
    border: 2px solid blue;
  }

  .form {
    display: grid;
    gap: 1rem;
  }

  .settings {
    display: grid;
    gap: 2rem;
  }

  .log {
    display: none;
  }

  @media all and (display-mode: fullscreen) {
    .App {
      pointer-events: none;
    }
    .log {
        display: block;
        color:aliceblue;
    }

    .settings {
        display: none;
    }
  }

button:disabled {
    background-color: rgb(118,118,118) !important;
    color: rgb(89, 94, 94) !important;
}

button {
    transition: all 1s;
}